
/* Your CSS Code here. */


.bttn{
    
    background-color:black
    color: white;
    border-radius: 5px;
    overflow: hidden;
    border: none


}
.bttn:hover{
    
    background-color: rgb(0, 0, 0);
    color: rgb(0,0,0);
    border-radius: 30px;
    overflow: hidden;
}
